            /* 1024x768 */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

     hr{
        top: 5vh;
     }
    .titulo,
    .seguidores {
        color: white;
        position: absolute;
        top: 21vh;
        left: 20.5vw;
        font-size: 2em;
        font-weight: bold;
    }
    .seguidores{
        color: rgb(208, 255, 0);
        font-size: 0.9rem;
        font-weight: normal;
        top: 30vh;
        left: 21vw;
        
    }
    .seguir{

        border-radius: 50px;
        position: absolute;
        left: 53vw;
        width: 100px;
        height: 30px;
        top: 32.5vh;
        z-index: 5;
    }
    .logo {
        border-radius: 80%;
        width: 135px;
        height: 135px;
        position: absolute;
        left: 6vw;
        top: 22vh;
        border: 2px solid rgb(208, 255, 0);

    }
    .openbtn{
        top: 18vh;
    }
    .copy {
        position: relative;
        left: 5vw;
    }
    .back {
        width: 100%;
        height: 40vh;
    }
    .pg1{
        top: 11vh;
        padding-left: 30px;
    }
    .pg2{
        top: 12vh;
        padding-left: 30px;
    }
    .mg1{
        left: 12vw;
        top: 6.5vh;
    }
    .nm1{
        left: 7vw;
    }
    .curtir, .rir, .lamentar, .descurtir{
        padding-top: 2vh;
    }
    .curtir{
        left: 12vw;
    } 
    .rir{
        left: 17vw;
    } 
    .lamentar{
        left: 20vw;
    } 
    .descurtir{
        left: 27vw;
    }
    .dt{
        top: 8vh;
    }
    select{
        top: 8vh;
        left: 4vw;
    }
    .aplicar{
        top: 8vh;
    }
    .aplicar:active{
        position: relative;
        top: 12.5vh;
    }
    
}


            /* 1280×720 */
@media screen and (min-width: 1280px) and (max-width: 1365px){
    main{
        left: 11vw;
    }
    .titulo,
    .seguidores {
        color: white;
        position: absolute;
        top: 22vh;
        left: 20vw;
        font-size: 2em;
        font-weight: bold;
    }
    .seguidores{
        color: rgb(208, 255, 0);
        font-size: 0.9rem;
        font-weight: normal;
        top: 30vh;
        left: 20vw;
        
    }
    .seguir{

        border-radius: 50px;
        position: absolute;
        left: 60vw;
        width: 100px;
        height: 30px;
        top: 32.5vh;
        z-index: 5;
    }
    .logo {
        border-radius: 80%;
        width: 150px;
        height: 150px;
        position: absolute;
        left: 85px;
        top: 22vh;
        border: 2px solid rgb(208, 255, 0);

    }
    .openbtn{
        top: 15vh;
    }
    .copy {
        position: relative;

    }
    .back {
        width: 100%;
        height: 40vh;
    }
    hr{
        top: 2vh;
    }

    select{
        left: 4vw;
        top: 4vh;
        font-size: 16px;
    }
    .dt{
        padding-top: 1em;
    }
  
    }
            /* 1280×1024 */
    @media screen and (max-width: 1280px) and (min-height: 1024px){
        .dt{
            padding-top: 0em;
        }
    }
            /* 1280×720 */
    @media screen and (width: 1280px) and (min-height: 700px){
        .dt{
            top: 12vh;
        }

    }
                /* 1280×800 */
    @media screen and (width: 1280px) and (min-height: 800px){
        .dt{
            top: 11vh;
        }

    }
                /* 1280×900 */
    @media screen and (width: 1280px) and (min-height: 900px){
        .dt{
            top: 10vh;
        }
    }

          /* 1280×960 */
          @media screen and (width: 1280px) and (min-height: 960px){
            .dt{
                padding-top: 0.2em;
            }
        }
                  /* 1280×900 */
    @media screen and (width: 1280px) and (height: 900px){
        .dt{
            padding-top: 1em;
        }
    }

            /* 1366×768 */
@media screen and (min-width: 1366px) and (max-width: 1599px){
    hr{
        top: 5vh;
     }
    body{
        overflow-x: hidden;
    }

select{

	top: 8vh;
	margin-left: 4vw;
	font-size: 16.5px;
}

.titulo,
.seguidores {
    color: white;
    position: absolute;
    top: 22vh;
    left: 19vw;
    font-size: 2em;
    font-weight: bold;
}
.seguidores{
    color: rgb(208, 255, 0);
    font-size: 0.95rem;
    font-weight: normal;
    top: 31vh;
    left: 19.2vw;
    
}

.seguir /* botão */ {

    border-radius: 50px;
    position: absolute;
    left: 55vw;
    width: 90px;
    height: 30px;
    top: 33vh;

}
.logo {
    border-radius: 80%;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 6.2vw;
    top: 22vh;
    border: 2px solid rgb(208, 255, 0);
}
.openbtn{
    top: 18vh;
}
.custom-openbtn{

        left: 88vw;
    }

.curtir, .rir, .lamentar, .descurtir{
       position: absolute;
       top: 13.5vh;
    }
.mg1{
    position: absolute;
    top: 6.5vh;
}
.pg1, .pg2{
    top: 11.5vh;
}
select{
    left: 2.5vw;
}
.slc{
    left: 0.1vw;
}
.aplicar, .aplicar:active{
    top: 8vh;
    left: 1.5vw;
}

.back {
    width: 100%;
    height: 40vh;
    }

.dt{
        padding-top: 2em;
    }

}





            /* 1600×900 */
@media screen and (min-width: 1600px) and (max-width: 1919px){

    hr{
        top: 5vh;
     }
    body{
        overflow-x: hidden;
	padding: 20px;
    }

.titulo,
.seguidores {
    color: white;
    position: absolute;
    top: 22vh;
    left: 17.5vw;
    font-size: 2em;
    font-weight: bold;
}
.seguidores{
    color: rgb(208, 255, 0);
    font-size: 0.95rem;
    font-weight: normal;
    top: 29.5vh;
    left: 17.5vw;
    
}

.seguir /* botão */ {

    border-radius: 50px;
    position: absolute;
    left: 47vw;
    width: 100px;
    height: 30px;
    top: 33vh;
    font-size: 15px;

}
.logo {
    border-radius: 80%;
    width: 170px;
    height: 170px;
    position: absolute;
    left: 5.3vw;
    top: 22vh;
    border: 2px solid rgb(208, 255, 0);
}
.openbtn{
    top: 15vh;
}
.custom-sidebar{
    width: 0px;
}

.back {
    width: 100%;
    height: 40vh;
}
main{
    padding: 0px;
    padding-left: 0px;
    max-width: 1150px;
    margin: 0 auto;
    border: 1px solid white;
    position: absolute;
    height: 200%;
    width: 100%;
    top: 11%;
    z-index: -5;
    left: 15%;
    background-color: black;
    left: 13vw;
}

.custom-openbtn{
    position: absolute;
    left: 89.5vw;
}
.curtir, .rir, .lamentar, .descurtir{
    font-size: 18px;
    top: 14vh;
}
.dt{
    position: absolute;
    font-size: 15px;
    top: 7.5vh;
    left: 2.5vh;
}
.pg1, .pg2{
    top: 11vh;
    padding-bottom: 10vh;
}
.mg1{
    font-size: 22px;
    top: 6.5vh;
}
.nm1{
    font-size: 25px;

}
.im1 , .im2{
    top: 4vh;
    position: absolute;    
    width: 75px;
    height: 75px;
    background-position-x: -0.45vw;
    background-size: 5.5em;
}
.aplicar, .aplicar:active{
    top: 8vh;
    font-size: 19px;
}


footer{
    font-size: 25px;
}

select{
    top: 8vh;
    font-size: 20px;
    left: 4vw;
}
option{
    font-size: 15px;
}


}

            /* 1920×1080 */
@media screen and (min-width: 1920px) and (max-width: 2159px){
    hr{
        top: 5vh;
     }
    h1{
	postition: absolute;
	top: 7vh;
	font-size: 45px;
    }
    body{
        overflow-x: hidden;
	padding: 5px;
    }

.titulo,
.seguidores {
    color: white;
    position: absolute;
    top: 21vh;
    left: 17.5vw;
    font-size: 3em;
    font-weight: bold;
}
.seguidores{
    color: rgb(208, 255, 0);
    font-size: 1.5rem;
    font-weight: normal;
    top: 29.5vh;
    left: 17.5vw;
    
}

.seguir /* botão */ {

    border-radius: 50px;
    position: absolute;
    left: 55vw;
    width: 120px;
    height: 40px;
    top: 33vh;
    font-size: 18px; 

}
.logo {
    border-radius: 80%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 5.3vw;
    top: 22vh;
    border: 2px solid rgb(208, 255, 0);
}
.openbtn , .custom-openbtn{
    top: 18vh;
    height: 2.5em;
    width: 7em;
    font-size: 25px;
}

.custom-openbtn{
    position: absolute;
    left: 90vw;
    top: 5vh;
}

.sidebar a , .custom-sidebar a {
    font-size: 32px;
}

.custom-sidebar{
    width: 0px;
}

.back {
    width: 100%;
    height: 40vh;
}
main{
    padding: 0px;
    padding-left: 0px;
    max-width: 1350px;
    margin: 0 auto;
    border: 1px solid white;
    position: absolute;
    height: 200%;
    width: 100%;
    top: 11%;
    z-index: -5;
    left: 15%;
    background-color: black;
    left: 13vw;
}

.home{
    width: 90px;
    height: 90px;
}
.curtir, .rir, .lamentar, .descurtir{
    font-size: 20px;
    top: 14vh;
}
.dt{
    font-size: 18px;
    top: 8vh;
    left: 2.5vh;
}
.pg1, .pg2{
    top: 15vh;
    padding-bottom: 10vh;
}
.mg1{
    font-size: 25px;
    top: 6.5vh;
}
.nm1{
    font-size: 28px;

}
.im1 , .im2{
    top: 4vh;
    position: absolute;    
    width: 90px;
    height: 90px;
    background-position-x: -0.1vw;
    background-size: 6em;
}
.aplicar, .aplicar:active{
    top: 10vh;
    font-size: 23px;
}
select{
    left: 4vw;
    top: 10vh;
    font-size: 25px;
}
option{
    font-size: 15px;
}

footer{
    font-size: 25px;
}

}
